<% @page_title = '記録する' %>
<h5>記入する</h5>
<%= form_for @expense do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit %> </div>
<% end %>

<% if @expense.errors.any? %>
	<p>記入漏れがあります</p>
<% end %>
